@import '../../../scss/fonts';
@import '../../../scss/variable';



.wrapper{
    padding: 44px 80px;
    width: 100%;
    border-radius: 32px;
    background: var(--blue, #1749B3);
    box-shadow: 0px 4px 24px 0px rgba(213, 216, 221, 0.20);
    display: flex;
    justify-content: space-between;
}

.left-part{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

// .title{
//     font-size: 26px;
//     font-family: $font-family;
// }

// .description{
//     font-size: 16px;
//     font-family: $font-family;
// }