@import './fonts';
@import './variable';

body {
    background-color: #ECF3FB;
    overflow-x: hidden;
}


.main {
    max-width: 1440px;
    padding: 0 120px;
    margin: 58px auto 0 auto;
    width: 100%;
    &__title {
        transition: all 0.3s ease;
        margin-top: 80px;
        text-align: center;
        font-family: $font-family2;
        font-weight: 700;
        @include adaptive-font(36,28);
    }

    &__description {
        margin-top: 20px;
        font-family: $font-family;
        text-align: center;
        @include adaptive-font(18,17);
    }

    &__period {
        max-width: 360px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        margin-top: 52px;
        border-radius: 12px;
        overflow: hidden;
        border: 1px solid #1749B3;


    }

    &-period__left {
        user-select: none;
        justify-content: center;
        width: 100%;
        display: flex;
        font-family: $font-family;
        @include adaptive-font(18,17);
        color: #030303;
        padding-top: 17px;
        padding-bottom: 17px;
        background: linear-gradient(to right, transparent 50%, #1749B3 50%);
        background-size: 200% 100%;
        background-position: left;
        transition: all 0.1500s ease;
        cursor: pointer;

    }
    .period-btn-left_active{
        background-position: right;
        color: white;
    }
    .period-btn-right_active{
        background-position: left;
        color: white;
    }
    &-period__right {
        user-select: none;
        cursor: pointer;
        background: linear-gradient(to left, transparent 50%, #1749B3 50%);
        background-size: 200% 100%;
        background-position: right;
        transition: all 0.1500s ease;
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: $font-family;
        @include adaptive-font(18,17);
        color: #030303;
        padding-top: 17px;
        padding-bottom: 17px;
        
    }


    &__plans {
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;

    }

    &__plan {
        position: relative;

        padding: 60px 40px 40px 40px;
        background-color: #fff;
        max-width: 389px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        text-align: center;
        border-radius: 32px;
        box-shadow: 0px 12px 28px 0px rgba(244, 245, 245, 0.20);
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            width: 100%;
            left: 0px;
            top: 113px;
            background-color: #DBDBDB;
        }
    }

    //&-plan__line-through::before {
    //    content: "";
    //    display: block;
    //    position: absolute;
    //    height: 1px;
    //    width: 100%;
    //    left: 0px;
    //    background-color: #DBDBDB;
    //}

    &-plan__title {
        font-family: $font-family2;
        @include adaptive-font(32,25);
        font-weight: 700;
        margin-bottom: 32px;
    }

    &-plan__option {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 16px;
        flex-wrap: wrap;
        &_first {
            margin-top: 32px;

        }
        svg{
            min-height: 24px;
            min-width: 24px;
            transform: translateY(-4px);
            path{
                object-fit: cover;
            }
        }

    }

    &-plan-option__text {
        display: flex;
        gap: 12px;
        color: #5C5C5C;
        @include adaptive-font(16, 15);
        height: auto;
        width: auto;
        font-family: $font-family;
        text-align: left;

    }

    &-plan__price {
        margin-top: 64px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .dollar-sign {
        font-family: $font-family3;
        @include adaptive-font(26,16);
        margin-bottom: 20px;
    }

    .amout {
        font-family: $font-family3;
        @include adaptive-font(50,30);
        line-height: 130%;
        margin-left: 4px;
    }

    &-plan__get-started {
        width: 100%;
        border-radius: 12px;
        padding: 16px 0;
        color: white;
        @include adaptive-font(18, 15);
        background-color: #333;
        transition: all 0.3s ease;
        margin-top: 16px;
        border: 1px solid #333;
        font-weight: 400;

        &:hover {
            color: #333;
            scale: 1.1;
            background-color: transparent;
            font-weight: 700;
        }
    }

    


    @media screen and (max-width: 1234px) {
        padding: 0 50px;
        padding-bottom: 11px;
    }

    @media screen and (max-width:1082px) {
        &-plan-option__text{
            align-items: flex-start;
        }
    }
    @media screen and (max-width: 1024px) {
        &__title{
            margin-top: 52px;
        }
        &__period {
            margin-top: 40px;
        }
        &-period__left{
            cursor: auto;

        }
        &-period__right{
            cursor: auto ;

        }

        &__plans {
            margin-top: 32px;
        }
        &__plan{
            padding: 32px 15px ;
            &::after{
                top: 78px;
            }
        }
        &-plan__price{
            margin-top: 32px;
        }
        &-plan__get-started{
            &:hover{
                scale: 0.9;
            }
        }
        .right-part{
            margin-left: 32px;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 0 32px;
        padding-bottom: 11px;

    }
    @media screen and (max-width: 638px) {
        &__plans {
            flex-wrap: wrap;
        }
        &-plan__price{
            margin-top: 40px;
        }
    }


    @media screen and (max-width: 374px) {
        padding: 0 24px;
        
        padding-bottom: 11px;
        &__title{
            margin-top: 48px;
        }
        &__period {
            width: 100%;
        }

    }
}